Sphinx >= 1.7.5
sphinx_rtd_theme >= 0.4.0
nltk >= 3.2.3
numpy >= 1.12.1
h5py >= 2.7.0
dill >= 0.2.7.1
hyperopt >= 0.1
pandas >= 0.23.1
sphinx_autodoc_typehints>=1.6.0
tabulate >= 0.8.2
tensorflow >= 1.1.0,<2
tensorflow_ranking >= 0.1.0,<2
six >= 1.10.0
scipy >= 1.0.0
nbsphinx